{% load staticfiles %}
{% block container %}
<!-- <script src="{% static 'js/select2.js' %}"></script> -->
<script src="{% static 'js/verif.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>

<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
<!-- bootstap bundle js -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- slimscroll js -->
<script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js'%}"></script>
<!-- main js -->
<script src="{% static 'assets/libs/js/main-js.js'%}"></script>
<!-- chart chartist js -->

<script src="{% static 'js/bootbox.min.js' %}"></script>
<script src="{% static 'js/bootbox.locales.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery.fileDownload.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script src="{% static 'js/syntaxtoggle.js' %}"></script>
<!-- <script type="text/javascript">
    bootbox.alert('dddd');
</script> -->
<!-- <script>

    $(document).ready(function(){
        $('.btn').on('click', function(){
            bootbox.alert('message');
        });
    });
  
  </script> -->

<!-- <script src="{% static 'assets/vendor/charts/chartist-bundle/chartist.min.js'%}"></script>

<script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js'%}"></script>

<script src="{% static 'assets/vendor/charts/morris-bundle/raphael.min.js'%}"></script>
<script src="{% static 'assets/vendor/charts/morris-bundle/morris.js'%}"></script>

<script src="{% static 'assets/vendor/charts/c3charts/c3.min.js'%}"></script>
<script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js'%}"></script>
<script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js'%}"></script>
<script src="{% static 'assets/libs/js/dashboard-ecommerce.js'%}"></script> -->
{% endblock %}