{% block container %}

def Settings_display(request):
	settForm = SettingForm()
	# settings.objects.all() mengumpulkan semua object pada tables setting di databse
	return render(request, 'setting/display.html', {'settings': settings.objects.all(), 'form': settForm })

def Settings_add(request):
	if request.method == 'POST':
		settForm = SettingForm(request.POST)
	
		if settForm.is_valid():
			settForm.save()

		return HttpResponseRedirect('/setting')
	
	else:
		settForm = SettingForm()
		return render(request, 'setting/add.html', {'settings': settings.objects.all(), 'form': settForm })

def Settings_edit(request, pk):
	# pk merupakan primary key
	# mengambil objek sesuai primary key jika tidak error
	setting = get_object_or_404(settings, pk=pk)
	status = 'success'
	# memfilter berdasarkan nama
	nameValue = settings.objects.filter(pk=pk).values('sett_name')[0];
	name = nameValue['sett_name']

	if request.method == 'POST':
		post_form = SettingForm(request.POST, instance=setting)
		if post_form.is_valid():
			post_form.save()
		return HttpResponseRedirect('/setting')
	else:
		form = SettingForm(instance=setting)
		return render(request, 'setting/edit.html', {'form': form, 'name': name, 'status': status })

def Settings_delete(request, pk):
	# mengambil objek sesuai primary key 
    settingdel = settings.objects.get(pk=pk)
	# menghapus data berdasarkan primary key
    settingdel.delete()
    return HttpResponseRedirect('/setting')

{% endblock %}