{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nacm App</title>
  <link rel="stylesheet" href="{% static 'nacm/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'nacm/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'nacm/app.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Nacm App</a>
  </nav>

  <div class="container cs-content">

    {% block content %}

    <div class="row cs-section-header">
      <div class="col-lg-12">
        <h2>List</h2></div>
    </div>

    <div class="row cs-form-add">
      {% include 'nacm_form.html' %}
    </div>

    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <!-- <th scope="col">Konfigurasi</th> -->
            <th scope="col">Action</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for login in logins %}
          <tr>
            <td>{{ login.id }}</td>
            <td>{{ login.username }}</td>
            <!-- <td>{{ confforms.conft }}</td> -->
            <td>
              <a class="btn btn-sm btn-outline-primary" href="edit/{{ login.id }}">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                    </a>
              <a class="btn btn-sm btn-outline-danger" onclick="sendData({{ login.id }})" data-toggle="modal" data-target="#exampleModalCenter">
                      <i class="fa fa-trash" aria-hidden="true"></i> Delete
                    </a>
            </td>
          </tr>
          {% endfor %}
          {% if not logins %}
          <tr>
            <td colspan="6" class="cs-text-center cs-empty-table"> Belum ada data </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <p>Are you sure want to Delete this data ?</p>
          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
            <a class="btn btn-danger" id="btn-delete" href="">Delete</a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}

  </div>

  <script src="{% static 'nacm/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'nacm/popper.min.js' %}"></script>
  <script src="{% static 'nacm/bootstrap.min.js' %}"></script>
  <script src="{% static 'nacm/app.js' %}"></script>
</body>

</html>